<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mcl.dao.CompanyMsgMapper" >
  <resultMap id="BaseResultMap" type="com.mcl.pojo.CompanyMsg" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="updatetime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="companyid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="joid" jdbcType="INTEGER" javaType="java.lang.Integer" />

    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, content, type, status, updatetime, companyid,joid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from companymsg
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectList" resultType="com.mcl.pojo.CompanyMsg">
    SELECT <include refid="Base_Column_List"/> FROM companymsg
      WHERE companyid = #{companyid}
      <if test="status!=null">
        and status = #{status,jdbcType=INTEGER}
      </if>
      <if test="type!=null">
        and type = #{type}
      </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from companymsg
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mcl.pojo.CompanyMsg" >
    insert into companymsg (id, title, content, 
      type, status, updatetime, 
      companyid,joid)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, now(),
      #{companyid,jdbcType=VARCHAR},#{joid})
  </insert>
  <insert id="insertSelective" parameterType="com.mcl.pojo.CompanyMsg" >
    insert into companymsg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="companyid != null" >
        companyid,
      </if>
      <if test="joid != null" >
      joid,
    </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        now(),
      </if>
      <if test="companyid != null" >
        #{companyid,jdbcType=VARCHAR},
      </if>
      <if test="joid != null" >
        #{joid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mcl.pojo.CompanyMsg" >
    update companymsg
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        updatetime = now(),
      </if>
      <if test="companyid != null" >
        companyid = #{companyid,jdbcType=VARCHAR},
      </if>
      <if test="joid != null" >
      joid = #{joid,jdbcType=INTEGER},
    </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mcl.pojo.CompanyMsg" >
    update companymsg
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      updatetime = now(),
      companyid = #{companyid,jdbcType=VARCHAR},
      joid = #{joid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="readMsg">
    UPDATE companymsg
    set status = 1
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>