<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mcl.dao.InterviewInfoMapper" >
  <resultMap id="BaseResultMap" type="com.mcl.pojo.InterviewInfo" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="interviewtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="joid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="updatetime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="viewd" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List" >
    id, interviewtime, joid, updatetime, viewd
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from interviewinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mcl.pojo.InterviewInfo" >
    insert into interviewinfo (id, interviewtime, joid, 
      updatetime, viewd, description
      )
    values (#{id,jdbcType=INTEGER}, #{interviewtime,jdbcType=TIMESTAMP}, #{joid,jdbcType=INTEGER}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{viewd,jdbcType=INTEGER}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mcl.pojo.InterviewInfo" >
    insert into interviewinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="interviewtime != null" >
        interviewtime,
      </if>
      <if test="joid != null" >
        joid,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="viewd != null" >
        viewd,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="interviewtime != null" >
        #{interviewtime,jdbcType=TIMESTAMP},
      </if>
      <if test="joid != null" >
        #{joid,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="viewd != null" >
        #{viewd,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mcl.pojo.InterviewInfo" >
    update interviewinfo
    <set >
      <if test="interviewtime != null" >
        interviewtime = #{interviewtime,jdbcType=TIMESTAMP},
      </if>
      <if test="joid != null" >
        joid = #{joid,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="viewd != null" >
        viewd = #{viewd,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.mcl.pojo.InterviewInfo" >
    update interviewinfo
    set interviewtime = #{interviewtime,jdbcType=TIMESTAMP},
      joid = #{joid,jdbcType=INTEGER},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      viewd = #{viewd,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>