<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mcl.dao.JobOffersMapper" >
  <resultMap id="BaseResultMap" type="com.mcl.pojo.JobOffers" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="jobname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="temptation" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="tag" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="wage" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="companyid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="city" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="education" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="duration" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="workfrequency" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="updatetime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="checked" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, jobname, temptation, tag, type, wage, companyid, city, address, education,
    duration, workfrequency, updatetime, checked,description
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>

  <select id="checkOffersByJoid" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM joboffers where id = #{id}
  </select>
  <select id="selectUserDeliveredJobOffersList" resultType="com.mcl.pojo.JobOffers">
    select * from joboffers where id in (select joid from resdeliverstatus where openid = #{openid}) and checked=1 order by updatetime desc
  </select>
  <select id="selectUserDeliveredJobOffersListByStatus" resultType="com.mcl.pojo.JobOffers">
        select * from joboffers where id in (select joid from resdeliverstatus where openid = #{openid} and status = #{status}) and checked=1 order by updatetime desc
  </select>
  <select id="recommendList" resultType="com.mcl.pojo.JobOffers" >
    SELECT <include refid="Base_Column_List"/>
    FROM joboffers WHERE checked = 1
  </select>
  <select id="selectList" resultType="com.mcl.pojo.JobOffers" parameterType="com.mcl.pojo.JobOffers">
    SELECT
    <include refid="Base_Column_List"/>
    FROM joboffers WHERE checked=1
    <if test="city!=null" >
      AND city=#{city,jdbcType=VARCHAR}
    </if>
    <if test="jobname!=null">
      AND (jobname like #{jobname,jdbcType=VARCHAR} OR description like #{description,jdbcType=VARCHAR})
    </if>
    <if test="wage!=null">
      AND wage>=#{wage,jdbcType=INTEGER}
    </if>
    <if test="duration!=null">
      AND duration=#{duration,jdbcType=INTEGER}
    </if>
    <if test="workfrequency!=null">
      AND workfrequency=#{workfrequency,jdbcType=INTEGER}
    </if>
    <if test="type!=null">
      AND type=#{type,jdbcType=VARCHAR}
    </if>
    <if test="tag!=null">
      AND tag=#{tag,jdbcType=VARCHAR}
    </if>
    ORDER BY updatetime desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from joboffers
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mcl.pojo.JobOffers" >
    insert into joboffers (id, jobname, temptation, 
      tag, type, wage, companyid, 
      city, address, education,
      duration, workfrequency, updatetime, 
      checked, description)
    values (#{id,jdbcType=INTEGER}, #{jobname,jdbcType=VARCHAR}, #{temptation,jdbcType=VARCHAR}, 
      #{tag,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{wage,jdbcType=INTEGER}, #{companyid,jdbcType=INTEGER},
      #{city,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR},
      #{duration,jdbcType=INTEGER}, #{workfrequency,jdbcType=INTEGER}, now(),
      #{checked,jdbcType=INTEGER}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mcl.pojo.JobOffers" >
    insert into joboffers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="jobname != null" >
        jobname,
      </if>
      <if test="temptation != null" >
        temptation,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="wage != null" >
        wage,
      </if>
      <if test="companyid != null" >
        companyid,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="duration != null" >
        duration,
      </if>
      <if test="workfrequency != null" >
        workfrequency,
      </if>
      <if test="updatetime != null" >
        now(),
      </if>
      <if test="checked != null" >
        checked,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jobname != null" >
        #{jobname,jdbcType=VARCHAR},
      </if>
      <if test="temptation != null" >
        #{temptation,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="wage != null" >
        #{wage,jdbcType=INTEGER},
      </if>
      <if test="companyid != null" >
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="duration != null" >
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="workfrequency != null" >
        #{workfrequency,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        now(),
      </if>
      <if test="checked != null" >
        #{checked,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mcl.pojo.JobOffers" >
    update joboffers
    <set >
      <if test="jobname != null" >
        jobname = #{jobname,jdbcType=VARCHAR},
      </if>
      <if test="temptation != null" >
        temptation = #{temptation,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="wage != null" >
        wage = #{wage,jdbcType=INTEGER},
      </if>
      <if test="companyid != null" >
        companyid = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="duration != null" >
        duration = #{duration,jdbcType=INTEGER},
      </if>
      <if test="workfrequency != null" >
        workfrequency = #{workfrequency,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        updatetime = now(),
      </if>
      <if test="checked != null" >
        checked = #{checked,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.mcl.pojo.JobOffers" >
    update joboffers
    set jobname = #{jobname,jdbcType=VARCHAR},
      temptation = #{temptation,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      wage = #{wage,jdbcType=INTEGER},
      companyid = #{companyid,jdbcType=INTEGER},
      city = #{city,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=INTEGER},
      workfrequency = #{workfrequency,jdbcType=INTEGER},
      updatetime = now(),
      checked = #{checked,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>