<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mcl.dao.ResDeliverStatusMapper" >
  <resultMap id="BaseResultMap" type="com.mcl.pojo.ResDeliverStatus" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="joid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="reid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="viewed" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="updatetime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="openid" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List" >
    id, joid, reid, status, viewed, updatetime, openid
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>
  <select id="selectByResumeId" parameterType="java.lang.Integer" resultType="com.mcl.pojo.ResDeliverStatus">
    SELECT <include refid="Base_Column_List"/> FROM resdeliverstatus WHERE reid=#{id}
  </select>
  <update id="viewedByResumeId" parameterType="java.lang.Integer">
    UPDATE resdeliverstatus SET
    viewed = 1 AND status = 1 WHERE id = #{id}

  </update>
    <select id="checkUserDelivered" resultType="java.lang.Integer">
      SELECT COUNT(1) FROM resdeliverstatus WHERE openid=#{openid,jdbcType=VARCHAR} and joid=#{joid,jdbcType=INTEGER} and status>0
    </select>
    <select id="count" resultType="java.lang.Integer">
      select COUNT(1) from resdeliverstatus;
    </select>
  <select id="selectByPrimaryKey" resultType="com.mcl.pojo.ResDeliverStatus">
    SELECT <include refid="Base_Column_List"/>
    FROM resdeliverstatus
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="isUserHaveAuthorityScoreCompany">
    select * from resdeliverstatus where joid in (select id from joboffers where companyid = #{companyid}) and reid in (select id from resume where openid=#{openid}) and status=3 order by updatetime desc limit 1,1
  </select>
  <select id="getResumeStatusBox" resultType="com.mcl.pojo.ResDeliverStatus">
    select resdeliverstatus.*
    from resdeliverstatus left join (select * from joboffers where companyid=#{companyid}) as j
    on resdeliverstatus.joid=j.id
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from resdeliverstatus
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mcl.pojo.ResDeliverStatus" >
    insert into resdeliverstatus (id, joid, reid, 
      status, viewed, updatetime, 
      openid, description)
    values (#{id,jdbcType=INTEGER}, #{joid,jdbcType=INTEGER}, #{reid,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{viewed,jdbcType=INTEGER},now(),
      #{openid,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mcl.pojo.ResDeliverStatus" >
    insert into resdeliverstatus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="joid != null" >
        joid,
      </if>
      <if test="reid != null" >
        reid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="viewed != null" >
        viewed,
      </if>
      <if test="updatetime != null" >
        now(),
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="joid != null" >
        #{joid,jdbcType=INTEGER},
      </if>
      <if test="reid != null" >
        #{reid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="viewed != null" >
        #{viewed,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        now(),
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mcl.pojo.ResDeliverStatus" >
    update resdeliverstatus
    <set >
      <if test="joid != null" >
        joid = #{joid,jdbcType=INTEGER},
      </if>
      <if test="reid != null" >
        reid = #{reid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="viewed != null" >
        viewed = #{viewed,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        updatetime = now(),
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getResumeIdListByJobId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select reid from resdeliverstatus where joid = #{id}
  </select>
  <select id="getStatusByJobIdAndReId" resultType="com.mcl.pojo.ResDeliverStatus">
    select <include refid="Base_Column_List"/> from resdeliverstatus where reid = #{reid} and joid = #{joid}
  </select>
  <update id="updateByPrimaryKey" parameterType="com.mcl.pojo.ResDeliverStatus" >
    update resdeliverstatus
    set joid = #{joid,jdbcType=INTEGER},
      reid = #{reid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      viewed = #{viewed,jdbcType=INTEGER},
      updatetime = now(),
      openid = #{openid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getResumeStatusListByJobId"  resultType="com.mcl.pojo.ResDeliverStatus">
    select  <include refid="Base_Column_List"/> FROM  resdeliverstatus where joid= #{joid} and reid={reid}
  </select>
  <select id="getStatusById" resultType="com.mcl.pojo.ResDeliverStatus" parameterType="java.lang.Integer">
    select status FROM resdeliverstatus where id= #{id}
  </select>
  <select id="selectReIdById" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select reid from resdeliverstatus where id = #{id}
  </select>
  <select id="checkResumeCanGet" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM resdeliverstatus where id = #{id} and reid = #{reid} and joid = #{joid}
  </select>
  <update id="updateStatusById" >
    UPDATE resdeliverstatus set status = #{status} WHERE id = #{id}
  </update>
</mapper>