<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mcl.dao.ResumeMapper" >
  <resultMap id="BaseResultMap" type="com.mcl.pojo.Resume" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="openid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="skills" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="hobbies" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="selfevaluation" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="updatetime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="schoolname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="major" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="startschooltime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="endschooltime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="education" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="majorclass" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="certificate" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="awards" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="campusexp" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, openid, skills, hobbies, selfevaluation, updatetime, schoolname, major, startschooltime, 
    endschooltime, education, majorclass, certificate, awards, campusexp
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from resume
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from resume
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mcl.pojo.Resume" >
    insert into resume (id, openid, skills, 
      hobbies, selfevaluation, updatetime, 
      schoolname, major, startschooltime, 
      endschooltime, education, majorclass, 
      certificate, awards, campusexp
      )
    values (#{id,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR}, #{skills,jdbcType=VARCHAR}, 
      #{hobbies,jdbcType=VARCHAR}, #{selfevaluation,jdbcType=VARCHAR}, now(),
      #{schoolname,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, #{startschooltime,jdbcType=TIMESTAMP}, 
      #{endschooltime,jdbcType=TIMESTAMP}, #{education,jdbcType=VARCHAR}, #{majorclass,jdbcType=VARCHAR}, 
      #{certificate,jdbcType=VARCHAR}, #{awards,jdbcType=VARCHAR}, #{campusexp,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mcl.pojo.Resume" >
    insert into resume
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="skills != null" >
        skills,
      </if>
      <if test="hobbies != null" >
        hobbies,
      </if>
      <if test="selfevaluation != null" >
        selfevaluation,
      </if>
      <if test="updatetime != null" >
        now(),
      </if>
      <if test="schoolname != null" >
        schoolname,
      </if>
      <if test="major != null" >
        major,
      </if>
      <if test="startschooltime != null" >
        startschooltime,
      </if>
      <if test="endschooltime != null" >
        endschooltime,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="majorclass != null" >
        majorclass,
      </if>
      <if test="certificate != null" >
        certificate,
      </if>
      <if test="awards != null" >
        awards,
      </if>
      <if test="campusexp != null" >
        campusexp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="skills != null" >
        #{skills,jdbcType=VARCHAR},
      </if>
      <if test="hobbies != null" >
        #{hobbies,jdbcType=VARCHAR},
      </if>
      <if test="selfevaluation != null" >
        #{selfevaluation,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        now(),
      </if>
      <if test="schoolname != null" >
        #{schoolname,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="startschooltime != null" >
        #{startschooltime,jdbcType=TIMESTAMP},
      </if>
      <if test="endschooltime != null" >
        #{endschooltime,jdbcType=TIMESTAMP},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="majorclass != null" >
        #{majorclass,jdbcType=VARCHAR},
      </if>
      <if test="certificate != null" >
        #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="awards != null" >
        #{awards,jdbcType=VARCHAR},
      </if>
      <if test="campusexp != null" >
        #{campusexp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mcl.pojo.Resume" >
    update resume
    <set >
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="skills != null" >
        skills = #{skills,jdbcType=VARCHAR},
      </if>
      <if test="hobbies != null" >
        hobbies = #{hobbies,jdbcType=VARCHAR},
      </if>
      <if test="selfevaluation != null" >
        selfevaluation = #{selfevaluation,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = now(),
      </if>
      <if test="schoolname != null" >
        schoolname = #{schoolname,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="startschooltime != null" >
        startschooltime = #{startschooltime,jdbcType=TIMESTAMP},
      </if>
      <if test="endschooltime != null" >
        endschooltime = #{endschooltime,jdbcType=TIMESTAMP},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="majorclass != null" >
        majorclass = #{majorclass,jdbcType=VARCHAR},
      </if>
      <if test="certificate != null" >
        certificate = #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="awards != null" >
        awards = #{awards,jdbcType=VARCHAR},
      </if>
      <if test="campusexp != null" >
        campusexp = #{campusexp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mcl.pojo.Resume" >
    update resume
    set openid = #{openid,jdbcType=VARCHAR},
      skills = #{skills,jdbcType=VARCHAR},
      hobbies = #{hobbies,jdbcType=VARCHAR},
      selfevaluation = #{selfevaluation,jdbcType=VARCHAR},
      updatetime =now(),
      schoolname = #{schoolname,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      startschooltime = #{startschooltime,jdbcType=TIMESTAMP},
      endschooltime = #{endschooltime,jdbcType=TIMESTAMP},
      education = #{education,jdbcType=VARCHAR},
      majorclass = #{majorclass,jdbcType=VARCHAR},
      certificate = #{certificate,jdbcType=VARCHAR},
      awards = #{awards,jdbcType=VARCHAR},
      campusexp = #{campusexp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="checkResumeExist" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT COUNT(1) from resume WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectList" parameterType="java.lang.String" resultType="com.mcl.pojo.Resume">
    SELECT <include refid="Base_Column_List"/>
    FROM resume WHERE openid = #{openid,jdbcType=VARCHAR}
  </select>
</mapper>