<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mcl.dao.TagPropertyMapper" >
  <resultMap id="BaseResultMap" type="com.mcl.pojo.TagProperty" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="icon" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="iconorder" jdbcType="VARCHAR" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, name , icon , iconorder
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tagproperty
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectEduList" resultType="java.lang.String">
      SELECT name FROM tagproperty WHERE type='edu'
    </select>
  <select id="getTagType" resultType="java.lang.String">
    SELECT DISTINCT( type ) FROM tagproperty
  </select>
  <select id="selectListByType" resultType="java.lang.String">
    SELECT name FROM tagproperty WHERE type=#{type}
  </select>
  <select id="selectTagListByType" resultType="com.mcl.pojo.TagProperty">
    SELECT <include refid="Base_Column_List" /> FROM tagproperty WHERE type=#{type}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tagproperty
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mcl.pojo.TagProperty" >
    insert into tagproperty (id, type, name ,icon,iconorder
      )
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},#{icon,jdbcType=VARCHAR}, #{iconorder,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mcl.pojo.TagProperty" >
    insert into tagproperty
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="iconorder != null" >
        iconorder,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="iconorder != null" >
        #{iconorder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mcl.pojo.TagProperty" >
    update tagproperty
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        iconorder = #{iconorder,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mcl.pojo.TagProperty" >
    update tagproperty
    set type = #{type,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      iconorder = #{iconorder},
      icon = #{icon}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="cleanAllOrder">
     update tagproperty
    set iconorder = 0
  </update>
  <select id="get4Icon" resultType="com.mcl.pojo.TagProperty">
    SELECT <include refid="Base_Column_List" /> FROM tagproperty WHERE iconorder>=1 ORDER BY iconorder
  </select>
  <select id="getJobTag" resultType="com.mcl.pojo.TagProperty">
    SELECT <include refid="Base_Column_List" /> FROM tagproperty WHERE TYPE = 'jobtag'
  </select>
</mapper>