<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mcl.dao.UserBaseInfoMapper" >
  <resultMap id="BaseResultMap" type="com.mcl.pojo.UserBaseInfo" >
    <constructor >
      <idArg column="openid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="nickname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="avatarurl" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gender" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="language" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="city" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="province" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="realname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="birthday" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="credit" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="startschooltime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="education" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="schoolname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="majortype" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="endschooltime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updatetime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="isworking" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    openid, nickname, avatarurl, gender, language, city, province, realname, birthday,
    email, phone, credit, startschooltime, education, schoolname, majortype, endschooltime, 
    updatetime, isworking
  </sql>
  <select id="checkUserByOpenid" resultType="java.lang.Integer">
    select COUNT(1) FROM userbaseinfo where openid=#{openid,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from userbaseinfo
    where openid = #{openid,jdbcType=VARCHAR}
  </select>
  <select id="selectList" resultType="com.mcl.pojo.UserBaseInfo">
    SELECT
    <include refid="Base_Column_List"/>
    FROM userbaseinfo
    <where>
      <if test="gender!=null">
        gender = #{gender}
      </if>
      <if test="city!=null">
        and city = #{city}
      </if>
      <if test="schoolname!=null">
        and schoolname = #{schoolname}
      </if>
      <if test="isworking!=null">
        and isworking = #{isworking}
      </if>
      <if test="province!=null">
        and province = #{province}
      </if>
      <if test="realname!=null">
        and realname like #{realname}
      </if>
    </where>

  </select>
<update id="updateCredit" >
  UPDATE userbaseinfo set
  credit = #{credit} WHERE  openid=#{openid}
</update>
  <select id="count" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM userbaseinfo
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from userbaseinfo
    where openid = #{openid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mcl.pojo.UserBaseInfo" >
    insert into userbaseinfo (openid, nickname, avatarurl, 
      gender, language, city, 
      province, realname, birthday, 
      email, phone, credit, 
      startschooltime, education, schoolname, 
      majortype, endschooltime, updatetime, 
      isworking)
    values (#{openid,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{avatarurl,jdbcType=VARCHAR}, 
      #{gender,jdbcType=INTEGER}, #{language,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, 
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{credit,jdbcType=DOUBLE}, 
      #{startschooltime,jdbcType=TIMESTAMP}, #{education,jdbcType=VARCHAR}, #{schoolname,jdbcType=VARCHAR}, 
      #{majortype,jdbcType=VARCHAR}, #{endschooltime,jdbcType=TIMESTAMP}, now(),
      #{isworking,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mcl.pojo.UserBaseInfo" >
    insert into userbaseinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="openid != null" >
        openid,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="avatarurl != null" >
        avatarurl,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="language != null" >
        language,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="credit != null" >
        credit,
      </if>
      <if test="startschooltime != null" >
        startschooltime,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="schoolname != null" >
        schoolname,
      </if>
      <if test="majortype != null" >
        majortype,
      </if>
      <if test="endschooltime != null" >
        endschooltime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="isworking != null" >
        isworking,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="avatarurl != null" >
        #{avatarurl,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="language != null" >
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="credit != null" >
        #{credit,jdbcType=DOUBLE},
      </if>
      <if test="startschooltime != null" >
        #{startschooltime,jdbcType=TIMESTAMP},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="schoolname != null" >
        #{schoolname,jdbcType=VARCHAR},
      </if>
      <if test="majortype != null" >
        #{majortype,jdbcType=VARCHAR},
      </if>
      <if test="endschooltime != null" >
        #{endschooltime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isworking != null" >
        #{isworking,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mcl.pojo.UserBaseInfo" >
    update userbaseinfo
    <set >
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="avatarurl != null" >
        avatarurl = #{avatarurl,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="language != null" >
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="credit != null" >
        credit = #{credit,jdbcType=DOUBLE},
      </if>
      <if test="startschooltime != null" >
        startschooltime = #{startschooltime,jdbcType=TIMESTAMP},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="schoolname != null" >
        schoolname = #{schoolname,jdbcType=VARCHAR},
      </if>
      <if test="majortype != null" >
        majortype = #{majortype,jdbcType=VARCHAR},
      </if>
      <if test="endschooltime != null" >
        endschooltime = #{endschooltime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = now(),
      </if>
      <if test="isworking != null" >
        isworking = #{isworking,jdbcType=INTEGER},
      </if>
    </set>
    where openid = #{openid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mcl.pojo.UserBaseInfo" >
    update userbaseinfo
    set nickname = #{nickname,jdbcType=VARCHAR},
      avatarurl = #{avatarurl,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      language = #{language,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      credit = #{credit,jdbcType=DOUBLE},
      startschooltime = #{startschooltime,jdbcType=TIMESTAMP},
      education = #{education,jdbcType=VARCHAR},
      schoolname = #{schoolname,jdbcType=VARCHAR},
      majortype = #{majortype,jdbcType=VARCHAR},
      endschooltime = #{endschooltime,jdbcType=TIMESTAMP},
      updatetime = now(),
      isworking = #{isworking,jdbcType=INTEGER}
    where openid = #{openid,jdbcType=VARCHAR}
  </update>
</mapper>